<div class="cartContainer">
    <div class="cartHeader">
        <h1>Carrito de compras</h1>
    </div>
    <div class="cartContent">
        <div class="cartContentHeaderItem">
            <p>Producto</p>
        </div>
        <div class="cartContentHeaderItem">
            <p>Precio</p>
        </div>
        <div class="cartContentHeaderItem">
            <p>Cantidad</p>
        </div>
        <div class="cartContentHeaderItem subtotal">
            <p>Subtotal</p>
        </div>
    </div>
    <div class="cartContentBody">
        {{#each products}}
        <div class="cartContentBodyItem">
            <div class="cartContentBodyItemImg">
                <img src="{{this.product.imageUrl}}" />
            </div>
            <div class="cartContentBodyItemName">
                <p>{{this.product.name}}</p>
            </div>
            <div class="cartContentBodyItemPrice">
                <p>$ {{this.product.price}}</p>
            </div>
            <div class="cartContentBodyItemQuantity">
                <button onclick="minus('{{this.product._id}}')">
                    -
                </button>
                <p>{{this.quantity}} uds</p>
                <button onclick="plus('{{this.product._id}}')">
                    +
                </button>
            </div>
            <div class="cartContentBodyItemSubtotal">
                <p class="subtotal">$ {{multiply this.product.price this.quantity}}</p>
            </div>
        </div>
        {{/each}}
        <div class="cartTotal">
            <p>Total: $<span id="cartTotalAmount">{{total products}}</span></p>
            <button class="checkoutButton">Finalizar Compra</button>
        </div>
    </div>
</div>

<!-- Modal para iniciar sesión -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <div class="login-container">
            <form id="login-form" class="login-form">
                <span id="login-close" class="close">&times;</span>
                <h2>Iniciar sesión</h2>
                <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" id="email" name="username" required />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <button id="login" type="submit">Ingresar</button>
                <a href="/forgot" class="forgot-link">¿Olvidaste tu contraseña?</a><br />
                <p>¿No tenés cuenta? <a href="#" id="signupLink" class="signup-link">Registrate aquí.</a></p>
            </form>
        </div>
    </div>
</div>

<!-- Modal para registro -->
<div id="signupModal" class="modal">
    <div class="modal-content">
        <div class="login-container">
            <form id="signup-form" class="signup-form">
                <span id="signup-close" class="close">&times;</span>
                <h2>Crea tu usuario</h2>
                <div class="form-group">
                    <label for="first_name">Nombre:</label>
                    <input type="text" id="first_name" name="first_name" required />
                </div>
                <div class="form-group">
                    <label for="last_name">Apellido:</label>
                    <input type="text" id="last_name" name="last_name" required />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <button id="signup" type="submit">Ingresar</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/carts.js"></script>
<script src="/js/modal.js"></script>